name: first

on: push

jobs:
  build:
    name: Build and Test
    environment: E1
    runs-on: windows-latest
      
  job1:
    name: First job
    runs-on: ubuntu-latest
    steps: 
      - name: Step one
        uses: actions/checkout@v2
      - name: Step two
        run: env | sort
  job2:
    name: Second job
    runs-on: windows-latest
    steps: 
      - name: Step one
        uses: actions/checkout@v2
      - name: Step two
        run: "Get-ChildItem Env: | Sort-Object Name"
  job3:
    name: Third Job
    runs-on: windows-latest
    steps:
      - name: The ${{ secrets.ENVIRONMENT_NAME }} Test
        run: ${{ secrets.ENVIRONMENT_NAME }}
