name: first

on: push

jobs:
  build:
    name: Build and Test
    environment: E1
    runs-on: windows-latest
    steps:
      - name: Env Test
        run: ${{ vars.E1_VAR }}
      
  job1:
    name: First job
    runs-on: ubuntu-latest
    steps: 
      - name: Step one
        uses: actions/checkout@v2
      - name: Step two
        run: ${{ vars.E2_VARIABLE }}
  job2:
    name: Second job
    runs-on: windows-latest
    steps: 
      - name: Step one
        uses: actions/checkout@v2
      - name: Step two
        run: "Get-ChildItem Env: | Sort-Object Name"
